# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\abhay\Desktop\Abhay New Stuff\University of Calgary Second Year(Software)\Winter 2021\ENSF 409\Final Project\Supply-Chain-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
